.banner {
    background:url('https://img.freepik.com/premium-photo/laptop-computer-placed-wooden-desk-showcasing-modern-workspace-setup-online-education_262708-16116.jpg?w=1480');
    height: 100vh; 
    background-size: cover;  
}